/* TelaPrincipal.css */

/* Contêiner principal da tela */
.tela-principal {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Garantir que o layout ocupe a altura total da tela */
    padding-top: 60px; /* Espaço para o cabeçalho fixo */
  }
  
  /* Container do Menu Lateral e Conteúdo Principal */
  .content-container {
    display: flex;
    flex: 1; /* O conteúdo ocupa o restante do espaço */
  }
  
  /* Estilo do Menu Lateral */
  .MenuLateral {
    width: 250px; /* Largura do menu lateral */
    background-color: #1a2d3d; /* Cor do menu lateral */
    padding-top: 20px;
    height: 100%;
  }
  
  /* Estilo do conteúdo principal */
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4; /* Cor de fundo do conteúdo */
  }
  